<div *ngIf="userDetails" class="flex flex-col md:flex-row items-center mb-4 justify-center gap-8">
  <div class="md:mr-4 rounded-full shadow-xl p-2">
    <img *ngIf="userDetails.avatar_url" class="w-52 h-52 rounded-full shadow-xl" [src]="userDetails?.avatar_url"
      alt="Avatar" />
  </div>
  <div>
    <div *ngIf="userDetails.name" class="mb-2">
      <p class="text-2xl font-semibold">{{ userDetails?.name }}</p>
      <p class="text-slate-800"><a [href]="userDetails?.html_url">{{ userDetails?.login }}</a></p>
    </div>
    <p class="text-gray-800 text-base">{{ userDetails?.bio }}</p>
    <p *ngIf="userDetails.location"><i class="bi bi-geo-alt-fill"></i>&nbsp;{{ userDetails.location }}</p>
    <p *ngIf="userDetails.twitter_username"><span class="font-semibold">Twitter: </span><a
        [href]="userDetails.twitter_username" target="_blank" class="text-black-500">{{ userDetails.twitter_username
        }}</a></p>
    <div *ngIf="userDetails" class="mt-2">
      <p *ngIf="userDetails.html_url"><i class="bi bi-link"></i>&nbsp;<a [href]="userDetails.html_url" target="_blank"
          class="text-black-500">{{ userDetails.html_url }}</a></p>
    </div>
  </div>
</div>