<h1 class="text-center font-bold text-blue-500 my-3 text-4xl">Find Github Repositories</h1>
<h2 class="text-center font-bold mb-2">Search for GitHub Repositories</h2>
<div class="flex flex-col md:flex-row items-center justify-center mb-4">
  <input type="text" class="border p-2 w-full md:w-64 placeholder-gray-500 bg-gray-100"
    placeholder="Enter GitHub username..." [(ngModel)]="userName">
  <button class="bg-blue-500 text-white px-4 py-2 mt-2 md:mt-0 ml-2 shadow-md"
    (click)="searchUser()">Search</button>
</div>